<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue监测数据的原理</title>
    <!--1. 引入 vue （下载的开发版本的Vue）-->
    <script src="../js/vue.js"></script>
    <!--2. 下载 vue 的开发工具-->
</head>
<body>
    <!--
       
    -->

    <div id="root">
        <h1>学校信息</h1>
        <h2>学校名称：{{name}}</h2>
        <h2>学校地址：{{address}}</h2>
        <hr>
        <h1>学生信息</h1>
        <button @click="addSex">添加一个性别属性，默认值是男</button>
        <h2>姓名：{{student.name}}</h2>
        <h2 v-if="student.sex">性别：{{student.sex}}</h2>
        <h2>年龄：真实{{student.age.rAge}}，对外{{student.age.sAge}}</h2>
        <h2>朋友们</h2>
        <ul>
            <li v-for="(f,index) in student.friends" :key="index">
                {{f.name}}--{{f.age}}
            </li>
        </ul>
        
    </div>
</body>

<script>
    //3. 关闭了Vue特别烦人的提示
    Vue.config.productionTip = false;    //设置为 false 以阻止 vue 在启动时生成生产提示
    

    const vm = new Vue({
        el:'#root',
        data:{
           name:'尚硅谷',
           address:'北京',
            student:{
                name:'tom',
                age:{
                    rAge:40,
                    sAge:29,
                },
                //sex:'男',
                friends:[
                    {name:'jerry',age:35},
                    {name:'tony',age:36}
                ]
            }
        },
        methods: {
            addSex(){
                //Vue.set(this.student,'sex','男')
                this.$set(this.student,'sex','男')
            }    
        },
    })
</script>
</html>